{% extends 'appoint/layout.html' %}

{% block Title %}{{ title }}{% endblock %}

{% block HeaderTitle %}
    <a href="{% url 'doctor_appoints' appoint.doctor.pk %}">{{ appoint.doctor.get_full_name }}</a>
{% endblock %}

{% block BodyContent %}
    <div class="appoint_detail">
        <h3>Appointment at:</h3>
        <p>{{ appoint.date|date:"j N Y" }}<br>
        {{ appoint.start_time|time:"H:i" }} - {{ appoint.end_time|time:"H:i" }}</p>
        <h3>Doctor:</h3>
        <p>{{ appoint.doctor.get_full_name }}</p>

        {% if not appoint.has_not_customer %}
            <h3>Customer:</h3>
            <p>{{ appoint.customer.get_full_name }}</p><br>
        {% endif %}
    </div>

    {% if appoint.has_not_customer %}
        {% if not appoint.is_outdated %}
            {% if user.is_customer %}
                <a href="{% url 'make_appoint' appoint.doctor.pk appoint.pk %}" class="btn btn-success" role="button">Make appoint</a>
            {% endif %}
            {% if not user.is_authenticated %}
                <h1>You should be authenticated to make appointment</h1>
                <a href="{% url 'login' %}" class="btn btn-info" role="button">Login</a>
            {% endif %}
        {% else %}
            <h1>Appoint is outdated</h1>
        {% endif %}
    {% endif %}
    <a href="{% url 'doctor_appoints' appoint.doctor.pk %}" class="btn btn-warning" role="button">Choose another time</a>
{% endblock %}
