<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django_Crud_App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
  </head>
  <body>
    {% block content %}
    <div class="container">
      <div class="row">
        <div class="col-4">
          <form class="form" method="post" action="{% url 'dashboard' %}">
            {% csrf_token %}
            <div class="mb-3">
              <label for="name" class="form-label"><h3>Name</h3></label>
              <input type="text" class="form-control" id="name" name="name" />
            </div>

            <label class="form-label">
              <h3>Choose your Subject</h3>
            </label>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="c"
                name="subject[]"
                value="c"
              />
              <label class="form-check-label" for="c">C</label>
            </div>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="c++"
                name="subject[]"
                value="c++"
              />
              <label class="form-check-label" for="c++">C++</label>
            </div>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="python"
                name="subject[]"
                value="python"
              />
              <label class="form-check-label" for="python">Python</label>
            </div>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                id="js"
                name="subject[]"
                value="js"
              />
              <label class="form-check-label" for="js">JS</label>
            </div>

            <label class="form-label mt-3"><h3>Choose your Gender</h3></label>
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                id="radio1"
                name="gender"
                value="male"
              />
              <label class="form-check-label" for="radio1">Male</label>
            </div>
            <div class="form-check">
              <input
                type="radio"
                class="form-check-input"
                id="radio2"
                name="gender"
                value="female"
              />
              <label class="form-check-label" for="radio2">Female</label>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
        </div>
        <div class="col-8">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">SrNo</th>
                <th scope="col">Name</th>
                <th scope="col">Subject</th>
                <th scope="col">Gender</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for i in user_details reversed %}
              <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.name}}</td>
                <td>{% for sub in i.subjects %} {{sub}}, {% endfor %}</td>
                <td>{{i.gender}}</td>
                <td>
                  <!-- Inside the loop where you display user details -->
                  <a
                    type="button"
                    class="btn btn-success"
                    href="{% url 'update-user' srno=i.id %}"
                    >Edit</a
                  >
                  <a
                    type="button"
                    class="btn btn-danger"
                    href="{% url 'delete-user' srno=i.id %}"
                    >Delete</a
                  >
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
