{% extends 'appoint/layout.html' %}
{% load crispy_forms_tags %}

{% block Title %}Register{% endblock %}

{% block HeaderTitle %}
    <a href="{% url 'index' %}">To main</a>
{% endblock %}

{% block BodyContent %}
    <div class="body_content_form">
        <form method="post" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Create {{ user_type }}</button>
        </form>
    </div>
{% endblock BodyContent %}
