{% extends 'app/index.html' %}

{% block content %}
    <section class="content home">
                <div class="block-header">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <h2>All Members <small class="text-muted">Welcome to Member</small></h2>
                        </div>            
                        <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                            
                                                        <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button">
                                    <i class="zmdi zmdi-plus"></i>
                                </button>
                            
                            
                            <ul class="breadcrumb float-md-right">
                                <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Member</a></li>
                                                                <li class="breadcrumb-item">Members</li>
                                                                                            <li class="breadcrumb-item active">All Members</li>
                                                        </ul>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">                
                    
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card">
                    <div class="body">
                        
                    </div>
                </div>
                <div class="tab-content m-t-10">
                    <div class="tab-pane active" id="Permanent">
                        <div class="row clearfix">
                            
                            {% for i in mall %}
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="card xl-blue member-card doctor">
                                    <div class="body">
                                        <div class="member-thumb">
                                            <img src="{{i.pic.url}}" height="150px" width="150px" class="img-fluid" alt="profile-image">                               
                                        </div>
                                        <div class="detail">
                                            <h4 class="m-b-0">{{i.firstname}}</h4>
                                            <p class="text-muted">{{i.occupation}}</p>
                                            <ul class="social-links list-inline m-t-20">
                                                <li><a title="edit" href="{% url 'edit-member' pk=i.id %}"><i class="zmdi zmdi-edit"></i></a></li>
                                                <li><a title="delete" href="{% url 'delete-member' pk=i.id %}"><i class="zmdi zmdi-delete"></i></a></li>
                                            </ul>
                                            <p class="text-muted">{{i.job_address}}</p>                           
                                            <a href="profile.html" class="btn btn-default btn-round btn-simple">View Profile</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                        </div> 
                    </div>
                  
                </div>
            </div>
        </div>

                </div>
    </section>
{% endblock %}
