{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta
      name="csrf-token"
      content="iL8hUXsdXy71MbOZjq4fWUv4KGPZnJ7k17P7RClL"
    />
    <link
      rel="icon"
      href="https://thememakker.com/templates/oreo/hospital/laravel/public/favicon.ico"
      type="image/x-icon"
    />
    <!-- Favicon-->
    <title>Dashboard - Digital Society</title>
    <meta name="description" content="Digital Society" />
    <meta name="author" content="Digital Society" />
    <link
      rel="stylesheet"
      href="{% static 'app\assets\plugins\bootstrap\css\bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'app\assets\plugins\jvectormap\jquery-jvectormap-2.0.3.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'app\assets\plugins\morrisjs\morris.min.css' %}"
    />
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'app\assets\css\main.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'app\assets\css\color_skins.css' %}"
    />
  </head>
  <body class="theme-cyan">
    
    {% include "app/header.html" %} 
    
    {% block content %} 
    {% include "app/sec-1.html"%} 
    {% endblock %}
    
    <!-- Scripts -->
    <script src="{% static 'app\assets\bundles\libscripts.bundle.js' %}"></script>
    <script src="{% static 'app\assets\bundles\vendorscripts.bundle.js' %}"></script>
    <script src="{% static 'app\assets\bundles\mainscripts.bundle.js' %}"></script>
    <script src="{% static 'app\assets\bundles\morrisscripts.bundle.js' %}"></script>
    <script src="{% static 'app\assets\bundles\jvectormap.bundle.js' %}"></script>
    <script src="{% static 'app\assets\bundles\knob.bundle.js' %}"></script>
    <script src="{% static 'app\assets\js\pages\index.js' %}"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/59f5afbbbb0c3f433d4c5c4c/default";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>